@import url('some google sans-serif font');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 20px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

main {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #aaa;
  display: flex;
  flex-direction: column;
}

header {
  background-image: url("img/mark-basarab-723939-unsplash.jpg");
  background-size: 700px 300px;
}

h1 {
  text-align: right;
  color: #f44336;
}

span {
  font-size: 3rem;
  padding-right: 10px;
  display: inline;

  button {
    color: #f44336;
    border: solid;
    border-color: #ffffff;
  }

}

button {
  background-color: #f44336;
}

input#min.price::after {
  content: "$"attr(data-price);
  display: block;
  margin-top: -1.5rem;
}

input.price#max::after {
  content: "$"attr(data-price);
  display: block;
  margin-top: -1.5rem;
}

img {
  width: 20%;
  float: left;
}

.form-box {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.form-box.place input {
  width: 100%;

}

.form-box.check-in input {
  width: 100%;
}

.form-box.check-out input {
  width: 100%;
}

.form-box.min-price input {
  width: 100%;
}

.form-box.min-price {
  padding-top: 10px;
}

.form-box.max-price input {
  width: 100%;
}

.form-box.max-price {
  padding-top: 10px;
}

.form-box.dogs input {
  width: 100%;
}

.form-box search {}

@media only screen and (min-width: 600px) {
  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "a a"
    "b c"
    "d e"
    "f g";}
    .form-box.place{
  grid-area: a;
}
.form-box.check-in{
  grid-area: b;
}
    .form-box.check-out{
  grid-area: c;
}
.form-box.min-price{
  grid-area: d;
}
    .form-box.max-price{
  grid-area: e;
}
.form-box.dogs{
  grid-area: f;
}
.form-box.search{
  grid-area: g;
  padding-top: 29px;
}
  }


  @media only screen and (min-width: 1200px) {
    main {
      flex-direction: row;
    }

    header {
      width: 30%;
      display: flex;
      float: left;
      text-align: center;
    }

    span:first-of-type {
      float: left;
      clear: left;
      padding-right: 0;
    }

    span:last-of-type {
      float: right;
      padding-left: 0;
    }

    form {
      width: 70%;
    }

    img {
      display: flex;
      align-content: flex-start;
    }

    .form-box.place {
      width: 100%;
    }


    .form-box check-out {
      width: 30;
    }

  }
